name: Enviroment Variables

on:
  workflow_dispatch:

env:
  WORKFLOW_VAR: I am a workflow-level environment variable
  WORKFLOW_VAR_2: "I am another workflow-level environment variable"

jobs:
  job-1:
    runs-on: ubuntu-latest
    env:
      JOB_VAR: I am a job-level environment variable
    steps:
      - name: inspect environment variables job 1 step 1
        env:
          STEP_VAR: I am a step-level environment variable
        run: |
          echo "Workflow-level variable:   $WORKFLOW_VAR"
          echo "Workflow-level variable 2: $WORKFLOW_VAR_2"
          echo "Job-level variable:        $JOB_VAR"
          echo "Step-level variable:       $STEP_VAR"

      - name: inspect environment variables job 1 step 2
        run: |
          echo "Workflow-level variable:   $WORKFLOW_VAR"
          echo "Workflow-level variable 2: $WORKFLOW_VAR_2"
          echo "Job-level variable:        ${JOB_VAR:-UNDEFINED}"
          echo "Step-level variable:       ${STEP_VAR:-UNDEFINED}"

  job-2:
    runs-on: ubuntu-latest
    steps:
      - name: inspect environment variables job 2 step 1
        run: |
          echo "Workflow-level variable:   $WORKFLOW_VAR"
          echo "Workflow-level variable 2: $WORKFLOW_VAR_2"
          echo "Job-level variable:        ${JOB_VAR:-UNDEFINED}"
          echo "Step-level variable:       ${STEP_VAR:-UNDEFINED}"
