name: 04 Triggering Events

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  echo-job:
    runs-on: ubuntu-latest
    steps:
      - name: Echo Trigger Info
        run: |
          echo "===$GITHUB_EVENT_NAME payload ==="
          cat "$GITHUB_EVENT_PATH"
